@import "bootstrapOverrides";
@import "~bootstrap/scss/bootstrap";

$mango: #ffc852;
$orange: #e36912;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

  h3 {
    color: $orange;
  }

  $headerHeight: 80px;
  $footerHeight: 30px;

  .header {
    &,
    img {
      height: $headerHeight;
    }
    background-color: $mango;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .navigation {
    background-color: $mango;
    a {
      color: #e36912;
      //filter: drop-shadow(2px 2px 2px white);
      text-decoration: none;
    }
    font-size: 1.6em;
    font-weight: 500;
  }

  svg {
    height: 30px;
    //margin: 30px;
    cursor: pointer;
    animation: rotation 2s infinite linear;
  }

  .drawer {
    z-index: 1;
    position: fixed;
    right: 0px;
    width: 200px;
    top: 0px;
    background: $mango;
    transform: translateX(200px);
    transition-duration: 1s;
    padding: 40px;
    margin-top: 80px;
    text-align: right;
    :visited,
    :link {
      color: $orange;
      text-decoration: none;
    }
  }

  .drawer.active {
    transform: translateX(0px);
  }

  .content {
    overflow: auto;
  }

  .minHeightLayout {
    min-height: calc(100vh - #{$headerHeight} - #{$footerHeight});
  }

  .maxHeightLayout {
    height: calc(100vh - #{$headerHeight} - #{$footerHeight});
  }

  #pageTitle {
    color: $orange;
  }

  .comicPage {
    cursor: pointer;
  }

  .footer {
    height: $footerHeight;
    background-color: $mango;
  }

  .grid-sizer {
    width: 33%;
  }

  $coversPerRow: (
    xs: 2,
    sm: 2,
    md: 3,
    lg: 4,
    xl: 4,
  ) !default;
  $gutter: 20px;

  .masonryGallery {
    width: 100%;
  }
  .comicCoverContainer,
  .comicCover {
    max-width: calc((100vw - #{$grid-gutter-width * 2}) / 2 - #{$gutter});
    @each $breakpoint, $container-max-width in $container-max-widths {
      @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
        $width: ($container-max-width - ($grid-gutter-width * 2));
        max-width: $width/map_get($coversPerRow, $breakpoint) - $gutter !important;
      }
    }
  }

  .illustrationImage {
    height: auto;
    max-width: 65vw;
    max-height: 75vh;
    @include media-breakpoint-up(md, $grid-breakpoints) {
      max-height: 75vh;
      width: auto;
    }
  }

  .scaledIcon {
    transform: scaleY(1.5);
  }

  .smarModal {
    width: 100%;
    @each $breakpoint, $container-max-width in $container-max-widths {
      @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
        width: $container-max-width;
      }
    }
  }

  svg {
    .smarHome {
      width: 400px;
    }
    .cls-1 {
      fill: #fff;
    }
    .cls-2 {
      fill: #ffc854;
    }
    .cls-3 {
      fill: #e26a26;
    }
    .cls-10,
    .cls-12,
    .cls-18,
    .cls-4 {
      fill: none;
    }
    .cls-10,
    .cls-13,
    .cls-18,
    .cls-4 {
      stroke: #231f20;
      stroke-miterlimit: 10;
    }
    .cls-10,
    .cls-18,
    .cls-4 {
      stroke-linecap: round;
    }
    .cls-4 {
      stroke-width: 3px;
    }
    .cls-5 {
      fill: #e1f3f7;
    }
    .cls-6 {
      fill: #b6ddea;
    }
    .cls-7 {
      fill: #6c647e;
    }
    .cls-8 {
      fill: #538f9d;
    }
    .cls-9 {
      fill: #575f69;
    }
    .cls-10,
    .cls-13 {
      stroke-width: 2px;
    }
    .cls-11 {
      fill: #498994;
    }
    .cls-13 {
      fill: #ffeec8;
    }
    .cls-14 {
      fill: #fab490;
    }
    .cls-15 {
      fill: #362526;
    }
    .cls-16 {
      fill: #433b52;
    }
    .cls-17 {
      fill: #3d2020;
    }
    .cls-18 {
      stroke-width: 5px;
    }
    .cls-19 {
      fill: #231f20;
    }
  }

  .clickable {
    cursor: pointer;
  }
}
