@import "bootstrapOverrides";
@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

  .header {
    height: min-height;
    background-color: #ffc852;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #pageTitle {
    color: #e36912;
  }

  .footer {
    height: 30px;
    background-color: #ffc852;
  }
}
